<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'app/style.css' %}">
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="{% url 'home:home' %}">Hiển thị</a></li>
                <li><a href="{% url 'add_data:add_data' %}">Thêm dữ liệu</a></li>
                <li><a href="{% url 'pdfdata:pdfdata' %}">PDF</a></li>
                <li><a href="{% url 'get_image:get_image' %}">test image</a></li>
            </ul>
        </div>
        <div class ="content">
            {% block content %}
            
            {% endblock %}
        </div>
    </body>
</html>